.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #4f546c;
  font-family: 'Montserrat', 'Helvetica';
  font-weight: 500;
  line-height: 1;
  border: 1px solid #4f546c;
  border-radius: 6px;
  background: transparent;
  padding: 0.6rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.25s;
  text-decoration: none;

  &:hover {
    color: #fff;
    border-color: #4f546c;
    background: #4f546c;
  }

  &_fill_primary {
    background: #4f546c;
    border-color: #4f546c;
    color: #fff;

    &:hover {
      background: #4f546c;
      border-color: #4f546c;
    }
  }
}
