.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color;
  font-family: 'Montserrat', 'Helvetica';
  font-weight: 500;
  line-height: 1;
  border: 1px solid $color;
  border-radius: 6px;
  background: transparent;
  padding: 0.6rem 1rem;
  cursor: pointer;
  white-space: nowrap;
  transition: all 0.25s;
  text-decoration: none;

  &:hover {
    color: #fff;
    border-color: $color;
    background: $color;
  }

  &_fill_primary {
    background: $color;
    border-color: $color;
    color: #fff;

    &:hover {
      background: $color;
      border-color: $color;
    }
  }
}
