*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Montserrat', 'Helvetica';
  color: #4f546c;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$color: #4f546c;
$clr-cancel: #c62828;
$clr-save: #388e3c;
$clr-details: #ffb300;
$clr-add: #c8e6c9;
